#navi li {
  display: inline-block;
  margin: 3%;
  list-style-type: none;
}

#navi li:hover {
  border-bottom: 2px solid white;
}

#navi li a {
  color: white;
  text-align: center;
}
#navi {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 30px;
  padding: 0px;
  margin: 5px;
}
#bannerimg {
  background-image: url("");
}

#featuredbann {
  display: flex;
  align-items: center;
  background-image: url("imagenes/blackgirl.jpg");
  background-size: cover;
  height: 350px;
}
#discoverbtn {
  font-size: 200%;
  padding: 2.5%;
  margin-left: 10%;
  background: rgba(0, 0, 0, 0.3);
  color: rgb(221, 215, 215);
  border: none;
  border-radius: 4px;
  /* position: absolute; */
  /* top: 10%; */
  /* right: 20%; */
  transition: 0.3s;
  text-align: center;
}
#discoverbtn:hover {
  background: rgba(0, 0, 0, 1);
}
#featuredcont {
  text-align: center;
}
